@import "./utilities/variables";
@import "./utilities/mixins";
@import "./utilities/extends";
@import "./layout/footer";
@import "./layout/main";
@import "./layout/header";
@import "./mq/mediaquery";



/* ----- GENERAL ----- */
body{
    font-family: "Nunito", sans-serif;
    background-color: $backgroundBody;
}

* {
    margin: 0;
}

.centrado {
    text-align: center;
}

/* Animacion */
.animacion {
    transition: transform 0.5s;
}

.animacion:hover {
    transform: scale(1.1);
}
/* Animacion */
