/* ----- INICIO FOOTER ----- */
/* el footer es el mismo en todas las páginas */

footer {
    background-color: $backgroundFooter;
    color: $colorBlanco;
    padding: 20px;
    text-align: center;

    .parrafoFooter {
        font-size: 16px;
    }

    .lista-redes {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 50px;
        padding: 0;
        margin: 0;
    }
}

/* ----- FIN FOOTER ----- */