/* ----- INICIO MAIN ----- */
/* edición de general del main */
main {
    background-color: $backgroundBody;
    color: $colorBlanco;
    margin-bottom: 40px;
}

h2 {
    text-decoration: underline;
    color: $colorVerdeH2;
    font-style: italic;
    padding: 20px;
}

.producto-imagen {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.precio-producto {
    color: $colorVerdePrecio;
    margin: 0;
}

.precio-producto span {
    text-decoration: line-through;
    color: red;
}
/* edición de general del main */





/* Edición de la página "index" */
.imgPublicidadIndex {
    @include imgBackgroundPublicidad (url(../imgs/publicidadIndex.png), top, no-repeat, cover);
    padding: 8rem;
}

.titulo-publicidad-index {
    @extend %titulosPublicidades;
}

.contenedorProductoIndex {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
    row-gap: 3rem;
}

.contenedorArtIndex {
    @extend %contenedorArticulos;
    width: 18rem;
    padding: 20px;
}

.boton-verMas{
    color: blue;
    font-size: 18px;
}
/* Edición de la página "index" */





/* Edición de la página "productos" */
.imgPublicidadProductos {
    @include imgBackgroundPublicidad (url(../imgs/publicidadProductos.png), center, repeat, contain);
    padding: 6rem;
}

.titulo-publicidad-productos {
    @extend %titulosPublicidades;
}

.contenedorArtProducto {
    @include gridContenedor (grid, 1fr 3fr, 10px, 20px);
    width: 100%;
    
    @extend %contenedorArticulos;
}

.titulo-producto{
    text-decoration: underline;
    font-style: italic;
    color: rgb(76, 65, 223);
}  

.boton-comprar {
    @extend %diseñoBoton;
    font-weight: 700;
    font-size: 20px;
}
/* Edición de la página "productos" */





/* Edición de la página "contacto" */
.contenedorContacto {
    @include gridContenedor(grid, 1fr 2fr, 30px, 15px);
}

.boton-enviar {
    @extend %diseñoBoton;
    padding: 6px 12px;
}
/* Edición de la página "contacto" */





/* Edicion de la página "faq" */
.accordion-item {
  background-color: #1e1e1e;
  border: 1px solid #2c2c2c;
}

.accordion-button {
  background-color: #1e1e1e;
  color: $colorVerdePrecio;
}

.accordion-body {
  background-color: #191919;
  color: $colorBlanco;
}

/* Acá no se que paso pero antes de pasarlo a scss solo tenía "color: green" y ahora si lo cambio se va el color */
.accordion-button::after {
  filter: brightness(0) saturate(100%) invert(67%) sepia(33%) saturate(655%) hue-rotate(76deg) brightness(93%) contrast(90%);
}
/* Edicion de la página "faq" */





/* Edición de la página "login" */
.contenedorLogin {
    padding: 30px;
}

.contraseñaLogin {
    margin-left: 3rem;
}
/* Edición de la página "login" */

/* ----- FIN MAIN ----- */