/* Extends */

%flexContenedor {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
    row-gap: 3rem;
}

%diseñoBoton {
    background-color: $colorNegro;
    color: $colorAmarillo;
    border: 1px solid $colorAmarillo;
    border-radius: 0.375rem;
}

%contenedorArticulos {
    text-align: center;
    justify-items: center;
    align-items: center;
    border: 1px solid white;
}

%titulosPublicidades {
    color: $colorBlanco;
    font-weight: 800;
    text-decoration: solid;
    font-size: 20px;
}



