/* Variables */
$backgroundBody: #121212;
$backgroundFooter: #2C3E50;

$colorAmarillo: #FFD700;
$colorBlanco: #ffffff;
$colorVerdeH2: rgb(27, 192, 156);
$colorNegro: #000;
$colorVerdePrecio: rgb(82, 206, 92);
