/* RESPONSIVE */

@media (min-width: 320px) and (max-width: 600px) {

    /* Responsive general */
    .contenedorBarraTop {
        padding: 20px 5px;

        .logo {
            height: 50px;
            width: 50px;
        }

        h1 {
            font-size: 40px;
            padding-right: 0;
            text-align: center;
        }

        .menuBusqueda {
            width: 50px;
            height: 40px;
            padding: 4px;
        }
    }



    .contenedorBusqueda {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 20px;
        padding: 30px;

        .form-busqueda {
            height: 28px;

            .barra-busqueda {
                width: 8rem;
                font-size: 11px;
                padding: 6px 3px;
            }

            .boton-busqueda {
                font-size: 11px;
            }
        }

        .inicio-sesion {
            font-size: 14px;
        }
    }


    .menuLinks {
        width: 100%;
    }

    h2 {
        text-align: center;
        margin-bottom: 0;
        font-size: 20px;
        padding: 20px 0px;
    }

    p {
        font-size: 13px;
    }

    h3 {
        font-size: 18px;
    }

    .producto-imagen {
        width: 10rem;
        height: auto;
    }

    .precio-producto {
        font-size: 15px;
    }

    /* Responsive general */



    /* Responsive de la página "Index" */
    .imgPublicidadIndex {
        padding: 2rem;

        .titulo-publicidad-index {
            font-size: 18px;
        }
    }

    .contenedorProductoIndex {
        .contenedorArtIndex {
            width: 14rem;
        }
    }

    /* Responsive de la página "Index" */



    /* Resposive de la página "Productos" */
    .imgPublicidadProductos {
        padding: 2rem;

        .titulo-publicidad-productos {
            font-size: 18px;
        }
    }

    .contenedorArtProducto {
        grid-template-columns: 1fr;
    }

    /* Resposive de la página "Productos" */





    /* Responsive de la página "nosotros" */
    .contenedorNosotros {
        padding: 18px;
        margin-bottom: 1rem;
    }

    .contenedorCartas {
        padding: 30px;

        .cartaNosotros {
            padding: 20px;
        }
    }

    /* Responsive de la página "nosotros" */





    /* Responsive de la página "Contacto" */
    .contenedorContacto {
        grid-template-columns: 1fr;
        padding: 20px 40px;

        .boton-enviar {
            grid-column: auto;
        }
    }

    .contenedorCartas {
        .cartaContacto {
            @extend %diseñoCartas;
            width: 15rem;
            padding: 20px;

            img {
                width: 48px;
                height: auto;
            }
        }
    }

    /* Responsive de la página "Contacto" */




    /* Responsive de la página "faq" */
    .accordion-header {
        padding: 5px;
    }

    .accordion-body {
        strong {
            font-size: 13px;
        }
    }
    /* Responsive de la página "faq" */
}