/* ----- GENERAL ----- */
body{
    font-family: "Nunito", sans-serif;
    background-color: #121212;
}

* {
    margin: 0;
}

.centrado {
    text-align: center;
}


/* Animacion */
.animacion {
    transition: transform 0.5s;
}

.animacion:hover {
    transform: scale(1.1);
}
/* Animacion */





/* ----- INICIO HEADER ----- */

/* Edición del header principal (index) | aplica a todos los html */
header {
    background-image: url(../imgs/publicidad.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    border-radius: 100%;
    object-fit: cover;
    width: 130px;
    height: 130px;
} 

h1 {
    color: #FFD700;
    font-size: 5rem;
    text-align: center;
    width: 100%;
    padding-right: 50px;
}

.form-busqueda {
    font-size: 20px;
    text-align: end;
}

.barra-busqueda {
    font-size: 18px;
    border: 1px solid white;
    background-color: #000;
    color: white;
    margin-left: auto;
    width: auto;
}

.barra-busqueda::placeholder {
  color: white;
}

.boton-busqueda {
    border: 1px solid #FFD700;
    background-color: #000;
    color: #FFD700;
    font-size: 18px;
}

.inicio-sesion {
    font-size: 25px;
    color: #FFD700;
}

.titulo-publicidad {
    color: white;
    font-weight: 800;
    text-decoration: solid;
    font-size: 20px;
}

.publicidad {
    color: white;
    padding: 5rem;
}

/* background para los links */
.bg-personalizado {
    background-color: rgba(0, 0, 0, 0.7);
}
/* background para los links */


/* Flexbox header */
.contenedorTitulo{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Flexbox header */


/* Grid */
.contenedorBusqueda {
    display: grid;
    grid-template-columns: 4fr 2fr;
    padding: 20px 0px;
    height: 20vh;
    align-items: center;
    text-align: end;
}
/* Grid */

/* ----- FIN HEADER ----- */





/* ----- INICIO MAIN ----- */

main {
    background-color: #121212;
    color: white;
}

h2 {
    text-decoration: underline;
    color: rgb(27, 192, 156);
    font-style: italic;
    padding: 20px;
}

/* Edición del main de las páginas "index" y "productos" */
article {
    width: 15rem;
    text-align: center;
}

.producto-imagen {
    width: 100%;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.precio-producto {
    color: rgb(82, 206, 92);
    margin: 0;
}

.precio-producto span {
    text-decoration: line-through;
    color: red;
}

.boton-verMas{
    color: blue;
    font-size: 18px;
}

.boton-comprar {
    background-color: #000;
    color: #FFD700;
    font-weight: 700;
    font-size: 18px;
}


/* Este solo aplica al HTML "productos" */
.titulo-producto{
    text-decoration: underline;
    font-style: italic;
    color: rgb(76, 65, 223);
}


.parrafo-preguntas {
    color: rgb(82, 206, 92);
    font-size: 28px;
    font-weight: 800;
    text-decoration: solid;
    font-style: italic;
    padding: 5px;
    margin-top: 5rem;
    text-align: center;
}

.lista-preguntas {
    padding: 1rem 0.5rem 3rem;
}   


/* Flexbox main | solo aplica los productos de la pagina "index"*/
.contenedorProducto {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
    row-gap: 3rem;
}
/* Flexbox main | solo aplica los productos de la pagina "index"*/


/* Grid | este solo aplica en la pagina de "contacto" */
.contenedorContacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    font-weight: bold;
}
/* Grid | este solo aplica en la pagina de "contacto" */


.contraseñaLogin {
    margin-left: 3rem;
}

/* Edicion lista de preguntas (FAQ) */
.accordion-item {
  background-color: #1e1e1e;
  border: 1px solid #2c2c2c;
}

.accordion-button {
  background-color: #1e1e1e;
  color: rgb(82, 206, 92);
}

.accordion-body {
  background-color: #191919;
  color: #fff;
}

.accordion-button::after {
  filter: brightness(0) saturate(100%) invert(67%) sepia(33%) saturate(655%) hue-rotate(76deg) brightness(93%) contrast(90%);
}
/* Edicion lista de preguntas (FAQ) */



/* ----- FIN MAIN ----- */





/* ----- INICIO FOOTER ----- */

/* Edición del footer principal (index) | aplica a todos los html */
footer {
    background-color: #2C3E50;
    color: #ECF0F1;
    padding: 20px;
    height: 35vh;
}
/* Edición del footer principal (index) | aplica a todos los html */

.lista-redes {
    list-style: none;
}

.lista-redes li a {
    font-size: 18px;
    color: #00bfff;
}

/* ----- FIN FOOTER ----- */





/* RESPONSIVE */

@media (min-width: 320px) and (max-width: 600px){
    
    /* Responsive general */
    .headerIndex {
        height: 120vh;
    }
    
    .contenedorTitulo {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        height: 80px;
        width: 80px;
    }

    h1 {
        font-size: 3.5rem;
        padding-right: 0;
    }

    .enlaceHome {
        text-align: center;
    }

    .contenedorBusqueda {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 20px;
    }

    .barra-busqueda {
        width: 100%;
        font-size: 14.5px;
    }

    .boton-busqueda {
        font-size: 15.5px;
    }

    .inicio-sesion {
        font-size: 20px;
    }

    .publicidad {
        padding: 2rem;
    }

    h2 {
        text-align: center;
        margin-bottom: 0;
    }

    .enlace-home {
        font-size: 15px;
    }
    /* Responsive general */





    /* Responsive página principal */
    .parrafo-preguntas {
        font-size: 25px;
    }
    /* Responsive página principal */





    /* Responsive de la página "Contacto" */
    .contenedorContacto {
        grid-template-columns: 1fr;
        text-align: center;
        margin: 1rem;    
    }
    
    .contenedorContacto div label[for="mensaje"] {
        width: 100%;
    }

    .contenedorContacto div textarea[id="mensaje"] {
        width: 100%;
    }

    .contenedorContacto div input[type="submit"] {
        width: 100%;
    }
    /* Responsive de la página "Contacto" */


   
    
    
    /* Responsive de la pag "Login" */
    .contenedorLogin {
       justify-content: center;
       margin: 1rem;
       text-align: center;
    }
    
    .contraseñaLogin{
        margin-left: 0;
    }

    .contenedorLogin input[type="submit"] {
        width: 100%;
    }
    /* Responsive de la pag "Login" */
}